---
import Card from "../conponents/Card.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section>
      <Card
        title="Titel 1"
        img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
        subtitle="Sub1"
      />
      <Card
        title="Titel 2"
        img="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
        subtitle="Sub2"
      />
      <Card
        title="Titel 3"
        img="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
        subtitle="Sub3"
      />
      <Card
        title="Titel 4"
        img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
        subtitle="Sub4"
      />
      <Card
        title="Titel 5"
        img="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill"
        subtitle="Sub5"
      />
      <Card
        title="Titel 6"
        img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
        subtitle="Sub6"
      />
      <Card
        title="Titel 7"
        img="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill"
        subtitle="Sub7"
      />
      <Card
        title="Titel 8"
        img="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill"
        subtitle="Sub8"
      />
      <Card
        title="Titel 9"
        img="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill"
        subtitle="Sub9"
      />
    </section>

    <section>
      <Card
        title="Titel 1"
        img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
        subtitle="Sub1"
      />
      <Card
        title="Titel 2"
        img="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
        subtitle="Sub2"
      />
      <Card
        title="Titel 3"
        img="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
        subtitle="Sub3"
      />
      <Card
        title="Titel 4"
        img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
        subtitle="Sub4"
      />
      <Card
        title="Titel 5"
        img="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill"
        subtitle="Sub5"
      />
      <Card
        title="Titel 6"
        img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
        subtitle="Sub6"
      />
      <Card
        title="Titel 7"
        img="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill"
        subtitle="Sub7"
      />
      <Card
        title="Titel 8"
        img="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill"
        subtitle="Sub8"
      />
      <Card
        title="Titel 9"
        img="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill"
        subtitle="Sub9"
      />
    </section>
  </body>
</html>
